remote/n8n_workflows/discord_alerts.json
{
  "name": "Discord Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "discord-alert"
    },
    {
      "parameters": {
        "channel": "system-alerts",
        "text": "={{ $json.message || 'Alert from Julian Assistant Suite' }}",
        "options": {}
      },
      "id": "discord-node",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "discordApi": {
          "id": "1",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Discord alert sent\" } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-XX",
  "versionId": "1"
}




